
.header{

  padding: 15rem 0rem;
  background-image: linear-gradient(180deg, rgba(52, 36, 2, 0.878), rgba(75, 73, 3, 0.79)), url(../images/james-harrison-vpOeXr5wmR4-unsplash.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  #{&}__content{
    padding: .5rem 2rem;
    text-align: center;
    color: $gray-color;

    h1 {
      // get font size map
      font-size: map-get($font-sizes, large );
    }

    p {
      // get font size map
      font-size: map-get($font-sizes, mid-regular);
    }

  }

  #{&}__divider{
    border: 2px solid $gray-color;
  }

}