.navBar{
  padding: .5rem 0rem;
  position: fixed;
  width: 100%;
  background-color: $pure-white;
  z-index: 10;

  #{&}__navLogo {
    padding: 0rem .5rem;
  }
}


.navBarLinks {
  align-items: center;
  #{&}__navLinks {
    padding: .5rem 0rem;
    margin: 0rem 2rem;
    text-align: center;
    text-decoration: none;
    color: $text-dark;
    transition: all .2s ease-in-out;

    .back{
      position: relative;
      top: 0;
      width: 0%;
      border-bottom: 3px solid $gold-palace;
      transition: all .3s ease-in;
    }

    // get font weight map
    font-weight: map-get( $font-weights, bold );
    
    // get font sizes map
    font-size: map-get( $font-sizes, regular );

    &:hover {
      color: $gold-palace;
      .back {
        width: 100%;
      }
    }

  }
}

.burgeR {
  padding: .3rem;
  width: 2.5rem;
  display: none;
  margin: 0rem 2rem;
  #{&}__line {
   position: relative;
    margin: .3rem 0rem;
    width: 100%;
    border: 2px solid $bg-dark;
  }
  #{&}__lineShort {
    position: relative;
    margin: .3rem 0rem;
    width: 60%;
    border: 2px solid $bg-dark;
  }
}

@media screen and (max-width:768px){
  .burgeR{
    display: block;
  }
  .navBarLinks__navLinks {
    display: none;
  }
}